.container-fluid{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
h3{
    font-size: 28px;
    margin-bottom: 20px;
}
form{
    width: 100%;
    max-width: 1200px;
}

.form-group{
    margin: 10px;
}