<div class="container mt-4">
  <form [formGroup]="filterForm">
    <div class="filter-section row mb-4">
      <div class="clinic col-md-6">
        <label for="clinic-filter" class="form-label">Select clinic:</label>
        <select (change)="filterByClinic()" formControlName="clinicName" name="clinic" id="clinic-filter"
          class="form-select">
          <option *ngFor="let clinic of clinicPlaces" [value]="clinic">{{clinic}}</option>
        </select>
      </div>
      <div class="id-search col-md-6">
        <label for="id-search" class="form-label">Enter ID to search:</label>
        <input type="text" class="form-control" formControlName="id" placeholder="patient ID" id="id-search"
          (keyup)="onKeyUpSearchbyId($event)">
      </div>
    </div>
  </form>
  <h3>Patient List</h3>
  <cdk-virtual-scroll-viewport itemSize="10" class="virtual-scroll-viewport">
    <table cdk-table [dataSource]="paginatedPatients" class="table table-striped">
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell *cdkHeaderCellDef>ID</th>
        <td cdk-cell *cdkCellDef="let patient">{{ patient.patientId }}</td>
      </ng-container>

      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef>Name</th>
        <td cdk-cell *cdkCellDef="let patient">{{ patient.name }}</td>
      </ng-container>

      <ng-container cdkColumnDef="age">
        <th cdk-header-cell *cdkHeaderCellDef>Age</th>
        <td cdk-cell *cdkCellDef="let patient">{{ patient.age }}</td>
      </ng-container>

      <ng-container cdkColumnDef="clinicPlace">
        <th cdk-header-cell *cdkHeaderCellDef>Clinic Place</th>
        <td cdk-cell *cdkCellDef="let patient">{{ patient.clinicPlace }}</td>
      </ng-container>

      <ng-container cdkColumnDef="phoneNumber">
        <th cdk-header-cell *cdkHeaderCellDef>Phone Number</th>
        <td cdk-cell *cdkCellDef="let patient">{{ patient.phoneNumber }}</td>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef>Actions</th>
        <td cdk-cell *cdkCellDef="let patient">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#residentDetail"
            (click)="seeAllDetails(patient.patientId)">See Details</button>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </cdk-virtual-scroll-viewport>
</div>

<div class="modal fade" id="residentDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Resident Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container mt-5 w-100 mx-auto">
              <h3 class="text-center text-success">Patient Details</h3>
              <div class="patient-details mb-4">
                  <div class="row">
                      <div class="col-md-4">
                          <h5>Name:</h5>  
                          <h5>{{ patient?.Name}}</h5>
                      </div>
                      <div class="col-md-4">
                          <h5>Age:</h5> 
                          <h5>{{ patient?.Age }}</h5>
                      </div>
                      <div class="col-md-4">
                          <h5>Phone:</h5> 
                          <h5>{{ patient?.PhoneNumber }}</h5>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <h5>Address:</h5> 
                          <h5>{{ patient?.Address }}</h5>
                      </div>
                      <div class="col-md-4">
                          <h5>Gender:</h5> 
                          <h5>{{ patient?.Gender }}</h5>
                      </div>
                      <div class="col-md-4">
                          <h5>Surgery History:</h5> 
                          <h5>{{ patient?.SurgeryHistory }}</h5>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <h5>Previous History:</h5> 
                          <h5>{{ patient?.PreviousHistory }}</h5>
                      </div>
                      <div class="col-md-4">
                          <h5>Symptoms:</h5> 
                          <h5>{{ patient?.Symptoms }}</h5>
                      </div>
                      <div class="col-md-4">
                          <h5>Complaints:</h5> 
                          <h5>{{ patient?.Complaints }}</h5>
                      </div>
                  </div>
              </div>
              <h3 class="text-center text-success">Medical History</h3>
              <table class="table table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th>Visit Date</th>
                          <th>Acu Point</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let visit of patientVisits">
                          <td>{{ visit.visitDate }}</td>
                          <td>{{ visit.acuPoint }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          </div>
          <div class="modal-footer d-flex justify-content-between align-items-center px-md-5">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>