.search-details > *{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.search-details > * h5:nth-child(2){
    margin-left: 10px;
}

.update{
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    padding: 20px;
}
.update label{
    margin: 10px 0;
}

.patients-list td{
    text-align: center;
}

.patients-list th{
    text-align: center;
    height: auto;
}